{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essential English Words</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/sobre/">Sobre</a></li>
                <li><a href="/contato/">Contato</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><p>{{ user.username }}</p></li>
            </ul>
        </nav>
        {% for message in messages %}
            <div>
                <p id="message">{{message}}</p>
            </div>
        {% endfor %}
    </header>
    <main>
        <div class="section hero">
            <h1>Exercício de Tradução</h1>
            <p>Usuário Logado!</p>
            <form method="POST" action="{% url 'processa_form' %}">
                {% csrf_token %}
                
                <label for="traducao">Traduza a palavra em inglês abaixo:</label>
                <h2>{{ palavra_aleatoria.word }}</h2>
                
                <label for="traducao">Sua Tradução:</label>
                <input type="text" id="traducao" name="translationInput" required>
                
                <label for="frase">Sua Frase:</label>
                <input type="text" id="frase" name="sentenceInput" required>
                
                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Meu Site.</p>
    </footer>
</body>
</html>
