/* Reset de estilos para garantir uma base consistente */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

/* Estilos da seção hero */
.hero {
    background-color: #0074D9;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

/* Estilos da seção de recursos */
.features {
    display: flex;
    justify-content: space-between;
}

.feature {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
}


/* ... (seus estilos gerais) ... */

/* Estilos da seção do formulário de cadastro */
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.card-content form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.card-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-content button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-content button:hover {
    background-color: #0056b3;
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Ajuste conforme necessário */
    background-color: #f5f5f5; /* Cor de fundo para a seção do cronômetro */
    margin-top: 20px; /* Espaçamento superior para separar do conteúdo anterior */
}

/* Estilos da caixa do cronômetro */
.timer-box {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos do conteúdo do cronômetro */
.timer-content {
    background-color: #fff;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}